

<style>
    html,
      body {
        background-image: url(https://res.cloudinary.com/tecnologi-zifrikc/image/upload/v1672364405/Testalbun/bg7_ys7j80.gif);
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        
      }

      body {
       

        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0%;
        padding: 0%;
      }

      .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 500px;
        border-radius: 50px;
        box-shadow: 22px 25px 32px;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
      }
      
</style>

<div class="swiper mySwiper">
      <div class="swiper-wrapper">
        
          {{#each photos}}
          <img src="{{imageURL}}" alt="" class="swiper-slide">
          {{/each}}
      
      <div class="swiper-pagination"></div>
    </div>
</div>