<nav class="navbar navbar-expand-lg navbar-dark bg-dark">  
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Album ZATV-TEC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse show" id="navbarColor01" style="">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/images/add">ADD images
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>

///
<style>
  :root {
    --bs-blue: #1ba2f6;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #ea39b8;
    --bs-red: #e44c55;
    --bs-orange: #f1b633;
    --bs-yellow: #ffc107;
    --bs-green: #3cf281;
    --bs-teal: #3f81a2;
    --bs-cyan: #32fbe2;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #170229;
    --bs-primary: #6f42c1;
    --bs-secondary: #ea39b8;
    --bs-success: #3cf281;
    --bs-info: #1ba2f6;
    --bs-warning: #ffc107;
    --bs-danger: #e44c55;
    --bs-light: #44d9e8;
    --bs-dark: #170229;
    --bs-primary-rgb: 111, 66, 193;
    --bs-secondary-rgb: 234, 57, 184;
    --bs-success-rgb: 60, 242, 129;
    --bs-info-rgb: 27, 162, 246;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 228, 76, 85;
    --bs-light-rgb: 68, 217, 232;
    --bs-dark-rgb: 23, 2, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 50, 251, 226;
    --bs-body-bg-rgb: 26, 9, 51;
    --bs-font-sans-serif: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #32fbe2;
    --bs-body-bg: #1a0933;
    --bs-border-width: 0;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.15rem;
    --bs-border-radius-sm: 0.05rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #32fbe2;
    --bs-link-hover-color: #28c9b5;
    --bs-code-color: #ea39b8;
    --bs-highlight-bg: #fff3cd;
}

.navbar.bg-1 {
      --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
    box-shadow: 0 0 2px rgb(111 66 193 / 90%), 0 0 4px rgb(111 66 193 / 40%), 0 0 1rem rgb(111 66 193 / 30%), 0 0 4rem rgb(111 66 193 / 10%);
}
</style>
